/* CSS for the main story */

/* CSS for the main story image div */
.beautyBigStory{
    width: 530px;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
}

/* CSS to change the cursor to pointer when hovering main story */
.beautyBigStory:hover{
    cursor: pointer;
}

/* CSS for line decoration */
.decoration{
    width: 55%;
    color: black;
    opacity: 1;
    margin-right: auto !important;
    margin-left: auto !important;
}

/* end of CSS for main story */


/* CSS for featured and latest stories */

/* CSS for the layout of articles */
.storycontainer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin-top: 50px;
}

/* CSS for the image of articles */
.storycontainer img{
    display: flex;
    width: 250px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

/* end of CSS for featured and latest stories */


/* CSS to make the website responsive */

/* Targets screens with a maximum width of 400px */
@media (max-width: 400px) {

    /* CSS to adjust the width of the main story */
    .beautyBigStory {
        width: 270px;
    }

}

/* Targets screens with a maximum width of 576px */
@media (max-width: 576px) {

    /* CSS to adjust the width and height of the main story  */
    .beautyBigStory {
        width: 300px;
        height: 325px;
    }

}

/* Targets screens with a minimum width of 576px */
@media (min-width: 576px) {

    /* CSS to set the maximum width for articles in the featured and latest stories section */
    .storycontainer {
        max-width: 400px;
    }

}

/* Targets screens with a minimum width of 768px */
@media (min-width: 768px) {

    /* CSS to set the maximum width for articles in the featured and latest stories section */
    .storycontainer {
        max-width: 600px;
    }

}

/* Targets screens with a minimum width of 1200px */
@media (min-width: 1200px) {

    /* CSS to set the maximum width for articles in the featured and latest stories section */
    .storycontainer {
        max-width: 1200px;
    }

}

/* Targets screens with a minimum width of 1400px */
@media (min-width: 1400px) {

    /* CSS to set the maximum width for articles in the featured and latest stories section */
    .storycontainer {
        max-width: 1200px;
    }

}

/* end of CSS to make the website responsive */