/* css to adjust the width and height of image under the 'size' class */
.size img {
    width: 100%;
    height: 100%;
    transition: 0.8s all ease;
}

/* css for main stories section */

/* css for leftside layout */
.leftside{
    width: 200px;
    height: 1550px;
    display: grid;
    grid-template-rows: 2% 27% 4% 33% 5% 26% 2%;
    grid-template-areas: 
    'space'
    'sect1'
    'space1'
    'sect2'
    'space2'
    'sect3'
    'space3';
}

/* css for section 1 */
#sect1{
    grid-area: sect1;
    width: 90%;
    height: 450px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

/* css for section 1 image */
#sect1 img{
    position: absolute;
    object-fit: cover;
}

/* css for section 1 image when hovered */
#sect1:hover img {
    transform: scale(1.1);
}

/* css for title 1 */
#title1{
    width: 80%;
    height: auto;
    position: absolute;
    top: 250px;
    right: 20%;
    padding: 10px 25px;
    text-align: left;
    color: antiquewhite;
    background-color: rgba(188, 11, 11, 0.7);
}

/* css for section 2 */
#sect2{
    grid-area: sect2;
    width: 90%;
    height: 550px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

/* css for section 2 image */
#sect2 img{ 
    position: absolute;
    object-fit: cover;
}

/* css for section 2 image when hovered */
#sect2:hover img {
    transform: scale(1.1);
}

/* css for title 2 */
#title2{
    width: 90%;
    height: auto;
    position: absolute;
    top: 350px;
    left: 10%;
    padding: 10px 20px;
    text-align: right;
    color:  antiquewhite;
    background-color: rgba(188, 11, 11, 0.7);
}

/* css for section 3 */
#sect3{
    grid-area: sect3;
    width: 90%;
    height: 435px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

/* css for section 3 image */
#sect3 img{
    position: absolute;
    object-fit: cover;
}

/* css for section 3 image when hovered */
#sect3:hover img {
    transform: scale(1.1);
}

/* css for title 3 */
#title3{
    width: 90%;
    height: auto;
    position: absolute;
    top: 230px;
    right: 10%;
    padding: 10px 20px;
    text-align: left;
    color: antiquewhite;
    background-color: rgba(188, 11, 11, 0.7);
}

/* css for middle section layout */
.middle{
    height: 1450px;
    display: grid;
    grid-template-rows: 65% 2% 33%;
    grid-template-areas: 
    'sect4'
    'space'
    'sect5';
}

/* css for section 4 */
#sect4{
    grid-area: sect4;
    width: 90%;
    height: 900px;
    position: relative;
    margin: auto auto;
    overflow: hidden;
}

/* css for section 4 image */
#sect4 img{ 
    position: absolute;
    object-fit: cover;
}

/* css for section 4 image when hovered */
#sect4:hover img {
    transform: scale(1.1);
}

/* css for title 4 */
#title4{
    width: 50%;
    height: auto;
    position: absolute;
    top: 570px;
    right: 50%;
    padding: 10px 20px;
    text-align: left;
    color: antiquewhite;
    background-color: rgba(188, 11, 11, 0.7);
}

/* css for section 5 */
#sect5{
    grid-area: sect5;
    width: 90%;
    height: 500px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

/* css for section 5 image */
#sect5 img{
    position: absolute;
    object-fit: cover;
}

/* css for section 5 image when hovered */
#sect5:hover img {
    transform: scale(1.1);
}

/* css for title 5 */
#title5{
    width: 90%;
    height: auto;
    position: absolute;
    top: 300px;
    left: 10%;
    padding: 10px 20px;
    text-align: right;
    color:  antiquewhite;
    background-color: rgba(188, 11, 11, 0.7);
}

/* css for rightside layout */
.rightside{
    display: grid;
    /* grid-template-columns: 8fr; */
    grid-template-rows: 4% 52% 1% 35%;
    grid-template-areas: 
    'space'
    'sect6'
    'space2'
    'sect7';
}

/* css for section 6 */
#sect6{
    grid-area: sect6;
    width: 90%;
    height: 800px;
    position: relative;
    margin: 0px auto 0px auto;
    overflow: hidden;
}

/* css for section 6 image */
#sect6 img{
    position: absolute;
    object-fit: cover;
}

/* css for section 6 image when hovered */
#sect6:hover img {
    transform: scale(1.1);
}

/* css for title 6 */
#title6{
    width: 90%;
    height: auto;
    position: absolute;
    top: 550px;
    right: 10%;
    padding: 10px 20px;
    text-align: left;
    color: white;
    background-color: rgba(188, 11, 11, 0.7);
}

/* css for section 7 */
#sect7{
    grid-area: sect7;
    width: 90%;
    height: 500px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

/* css for section 7 image */
#sect7 img{
    position: absolute;
    object-fit: cover;
}

/* css for section 7 image when hovered */
#sect7:hover img {
    transform: scale(1.1);
}

/* css for title 7 */
#title7{
    width: 90%;
    height: auto;
    position: absolute;
    top: 300px;
    right: 10%;
    padding: 10px 20px;
    text-align: left;
    color: antiquewhite;
    background-color: rgba(188, 11, 11, 0.7);
}

/* CSS for vertical rule */
.vr{
    margin-top: 20px;
    height: 95%;
    width: 1px !important;
    visibility: visible;
}

/* CSS for the horizontal rule */
.line{
    visibility: hidden;
    height: 10px;
}

/* css to make the website responsive */

/* Targets screens with a maximum width of 576px */
@media (max-width: 576px) {

    /* to make the titles visible */
    #title1, #title2, #title3, #title4, #title5, #title6, #title7 {
        visibility: visible !important;
    }

    /* to adjust position of section 6 */
    #sect6{
        margin-bottom: 285px;
    }

}

/* Targets screens with a maximum width of 768px */
@media (max-width: 768px) {

    /* CSS to center align text */
    .alignRight{
        text-align: center;
        padding-top: 20px;
    }

}

/* Targets screens with a maximum width of 992px */
@media (max-width: 992px) {

    /* to hide the titles */
    #title1, #title2, #title3, #title4, #title5, #title6, #title7 {
        visibility: hidden;
    }

}

/* Targets screens with a minimum width of 1200px */
@media (min-width: 1200px) {

    /* CSS to right align text */
    .alignRight{
        text-align: right;
        max-width: 230px !important;
    }

}

/* Targets screens with a maximum width of 1200px */
@media (max-width: 1200px) {

    .trend{
        display: flex !important;
    }

    /* CSS to make vertical rule hidden */
    .vr{
        height: 0px;
        z-index: -1;
        visibility: hidden;
    }

    /* CSS to make horizontal rule visible*/
    .line{
        visibility: visible;
        height: 10px;
    }
 
}

/* end of CSS to make the website responsive */