/* Defines a custom font named "memories" */
/* Font from Cufon Fonts */
@font-face {
    font-family: "memories";
    src: url("../fonts/GR-MEMON.TTF");
}

/* CSS for carousel */

/* CSS for carousel image */
.carouselImg{
    display: block;
    width: 100%;
    height: 600px;
    overflow: hidden;
    object-fit: cover;
}

/* CSS to align carousel title */
.carousel-caption{
    left: 0% !important;
    right: 0% !important;
}

/* CSS for carousel title */
.carouselTitle{
    width: 770px;
    text-align: center !important;
    color: white !important;
    margin-bottom: 100px;
}

.carouselTitle h1 {
    font-size: 60px;
}

/* CSS to change cursor when hovering over carousel title */
.carouselTitle:hover{
    cursor: pointer;
}

/* CSS for decoration line in the carousel title */
.carouselTitle hr{
    width: 30%;
    border-top: 3px solid white;
    opacity: 1 !important;
}

/* end of CSS for carousel */


/* CSS for main stories */

/* CSS for box 1 */
#box1{
    width: 270px;
    height: 360px;
    margin: 50px auto 200px;
    padding: 320px 0px 0px 35px;
    background-image: url("../images/lisa.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 1 */
#boxTitle1{
    width: 235px;
    height: 200px;
    padding: 30px 25px;
    background-color: white;
    border: 1.25px solid black;
}

/* CSS for box 2 */
#box2{
    width: 270px;
    height: 270px;
    margin: 50px auto 200px;
    padding: 230px 0px 0px 30px;
    background-image: url("../images/facial.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 2 */
#boxTitle2{
    width: 240px;
    height: 200px;
    padding: 30px 25px;
    background-color: white;
    border: 1.25px solid black;
}

/* CSS for box 3 */
#box3{
    width: 270px;
    height: 400px;
    margin: 50px auto 200px;
    padding: 360px 0px 0px 30px;
    background-image: url("../images/amangiri.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 3 */
#boxTitle3{
    width: 240px;
    height: 200px;
    padding: 30px 25px;
    background-color: white;
    border: 1.25px solid black;
}

/* CSS for box 4 */
#box4{
    width: 270px;
    height: 320px;
    margin: 50px auto 200px;
    padding: 280px 0px 0px 30px;
    background-image: url("../images/skin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 4 */
#boxTitle4{
    width: 240px;
    height: 200px;
    padding: 30px 25px;
    background-color: white;
    border: 1.25px solid black;
}

/* CSS to change the cursor to pointer when the boxes are hovered */
#box1, 
#box2, 
#box3, 
#box4:hover{
    cursor: pointer;
}

/* CSS for box title font */
#boxTitle1 > h4,
#boxTitle2 > h4,
#boxTitle3 > h4,
#boxTitle4 > h4{
    font-family: "memories";
    font-size: 18px;
}

/* CSS to make the title underlined when the title is hovered */
#boxTitle1>h4:hover, 
#boxTitle2>h4:hover, 
#boxTitle3>h4:hover, 
#boxTitle4>h4:hover{
    text-decoration: underline;
}

/* CSS for line decoration in the box title */
#boxTitle1 hr,
#boxTitle2 hr,
#boxTitle3 hr,
#boxTitle4 hr{
    width: 50%;
    opacity: 1 !important;
    border-top: 2px solid black;
    margin: 0px 10px 18px 0px !important;
}

/* CSS to adjust the title */
#boxTitle1 p,
#boxTitle2 p,
#boxTitle3 p,
#boxTitle4 p{
    margin-bottom: 5px !important;
}

/* end of CSS for main stories */

/* CSS to make the website responsive */

/* Targets screens with a maximum width of 400px */
@media (max-width: 450px) {

    /* CSS to make position of box 1 position centered */
    #box1{
        left: 0px !important;
    }

    /* CSS to make position of box 2 position centered */
    #box2{
        right: 0px !important;
    }

    /* CSS to make position of box 3 position centered */
    #box3{
        left: 0px !important;
    }

    /* CSS to make position of box 4 position centered */
    #box4{
        right: 0px !important;
    }

}

/* Targets screens with a maximum width of 592px */
@media (max-width: 592px) {

    /* CSS to adjust position of box 1 */
    #box1{
        position: relative;
        left: 70px;
        top: -30px;
    }
    /* CSS to adjust position of box 2 */
    #box2{
        position: relative;
        right: 70px;
        top: -70px;
    }
    /* CSS to adjust position of box 3 */
    #box3{
        position: relative;
        left: 70px;
        top: -110px;
    }
    /* CSS to adjust position of box 4 */
    #box4{
        position: relative;
        right: 70px;
        top: -150px;
    }

    /* CSS to adjust the height of the container */
    .containerBox{
        height: 2200px;
    }
}

/* Targets screens with a maximum width of 768px */
@media (max-width: 768px) {

    /* CSS to adjust the carousel title width*/
    .carouselTitle{
        width: 400px;
        margin: auto;
    }

}

/* Targets screens with a maximum width of 1200px */
@media (max-width: 1200px) {

    /* CSS to adjust the width of the container*/
    .containerBox{
        max-width: 600px !important;
    }

}