/* CSS for vertical rule */
.vr{
    margin-top: 20px;
    height: 1700px;
    width: 1px !important;
    visibility: visible;
}

/* CSS for the horizontal rule */
.line{
    visibility: hidden;
    height: 10px;
}


/* CSS to make the website responsive */

/* Targets screens with a maximum width of 1200px */
@media (max-width: 1200px) {

    /* CSS to make vertical rule hidden */
    .vr{
        height: 0px;
        z-index: -1;
        visibility: hidden;
    }

    /* CSS to make horizontal rule visible*/
    .line{
        visibility: visible;
        height: 10px;
    }
    
}

/* end of CSS to make the website responsive */