/* CSS for box sections */

/* CSS for box 1 */
#box1{
    position: relative;
    width: 270px;
    height: 400px;
    margin: 10px auto auto;
    background-image: url("../images/anxiety.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for box 2 */
#box2{
    position: relative;
    width: 270px;
    height: 400px;
    margin: 10px auto auto;
    background-image: url("../images/digitalhabits.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 2 */
.boxtitle2{
    width: 220px;
    height: 400px;
    padding: 110px 0px 0px 55px;
    transition: all ease;
    opacity: 0;
}

/* CSS for box 3 */
#box3{
    position: relative;
    width: 270px;
    height: 400px;
    margin: 10px auto auto;
    background-image: url("../images/breath.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 1 and box 3 */
.boxtitle1, .boxtitle3{
    width: 250px;
    height: 400px;
    padding: 150px 0px 0px 20px;
    transition: all ease;
    opacity: 0;
}

/* CSS for box 4 */
#box4{
    position: relative;
    width: 270px;
    height: 400px;
    margin: 10px auto auto;
    background-image: url("../images/trauma.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS for the title for box 4 */
.boxtitle4{
    width: 230px;
    height: 400px;
    padding: 160px 0px 0px 40px;
    transition: all ease;
    opacity: 0;
}

/* CSS for the boxes containing the title when hovered */
.hoverEffect{
    position: absolute;
    width: 270px;
    height: 400px;
    background-color: rgba(72, 72, 72, 0.6);
    visibility: hidden;
    z-index: 999;
    transition: all 0.2s ease;
    color: white;
}

/* CSS to make the boxes containing the title appear when the boxes are hovered */
#box1:hover .hoverEffect,
#box2:hover .hoverEffect, 
#box3:hover .hoverEffect, 
#box4:hover .hoverEffect{
    visibility: visible;
}

/* CSS to make the title slowly rise*/
.titleTransition {
    animation: titleAnimation 0.6s ease forwards;
}

/* CSS for the title animation */
@keyframes titleAnimation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
        opacity:1;
    }
}

/* end of CSS for box sections */


/* CSS for vertical rule */
.vr{
    margin-top: 20px;
    height: 98%;
    width: 1px !important;
    visibility: visible;
}

/* CSS for the horizontal rule */
.line{
    visibility: hidden;
    height: 10px;
}


/* CSS to make the website responsive */

/* Targets screens with a maximum width of 768px */
@media (max-width: 768px) {

    /* CSS to center align text */
    .alignRight{
        text-align: center;
        padding-top: 20px;
    }

}

/* Targets screens with a minimum width of 1200px */
@media (min-width: 1200px) {

    /* CSS to right align text */
    .alignRight{
        text-align: right;
        max-width: 230px !important;
    }

}

/* Targets screens with a maximum width of 1200px */
@media (max-width: 1200px) {

    /* css to adjust the maximum width of container */
    .containerBox{
        max-width: 600px !important;
    }

    /* CSS to make vertical rule hidden */
    .vr{
        height: 0px;
        z-index: -1;
        visibility: hidden;
    }

    /* CSS to make horizontal rule visible*/
    .line{
        visibility: visible;
        height: 10px;
    }

}

/* end of CSS to make the website responsive */